<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <servlet>
    <servlet-name>ADD</servlet-name>
    <servlet-class>basicServlet.AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ADD</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>ECHO</servlet-name>
    <servlet-class>basicServlet.echoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ECHO</servlet-name>
    <url-pattern>/echo</url-pattern>
  </servlet-mapping>
</web-app>